torch~=2.2.2
tensorflow~=2.16.1
transformers~=4.39.3
tqdm~=4.66.2
datasets~=2.18.0
keras~=3.2.1
scikit-learn~=1.4.2
numpy~=1.26.4
matplotlib~=3.8.4
scipy~=1.13.0
pandas~=2.2.2
nltk~=3.8.1
ekphrasis~=0.5.4